		<div id="maincontent" class="mainTabContent tab-content row" style="display: block; margin-bottom: 40px;"><style type="text/css">
.sort{overflow:hidden;line-height:36px;}
.sort span{padding:5px;border-left:2px solid #337AB7;color:#337AB7;font-weight:700;font-size:16px;}
.actBox{overflow:hidden;margin-top:20px;zoom:1;}
.actBox .activeList{position:relative;width:260px;margin-right:30px;float:left;display:inline-block;margin-bottom:28px;padding:5px;border:1px solid #dfdfdf;border-radius:5px;cursor:pointer;transition:all .2s ease;}
.actPic a{display:block;overflow:hidden;margin:0 auto;margin-bottom:5px;width:100%;height:130px;}
.actPic a img{width:100%;}
.actBtn{overflow:hidden;padding:5px;zoom:1;}
.actBtn span{float:left;line-height:30px;}
.actBtn a{float:right;}
.actBtn a.btn-primary{margin-right:5px;}

</style>
<div class="contentBox">
	<div class="tableTitle">
		<div class="title"><span name="spLuckName"></span>微营销</div>
	</div>
	
	<div class="alert alert-warning">
		
        <strong>注意：</strong><br>
		1.请在新建活动时确保你的公众号已经正常配置。<br>
		2.微信红包、合体红包、微砍价等需要微信支付的活动，只有认证的服务号可以使用！
请到公众平台开通微信支付功能：<a href="https://mp.weixin.qq.com" target="_blank">https://mp.weixin.qq.com</a><br><br>
        <strong>是否已经配置网页授权：</strong><br>
        <a href="http://mp.weixin.qq.com/" class="" target="_blank">登录微信公众平台</a> — 接口权限 — 功能服务 — 网页账号 — 修改
	</div>

	<div id="AdModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true" class="glyphicon glyphicon-remove" style="color:red;font-size: 1.8rem;"></span> </button>
			<h4 class="modal-title">系统提示！</h4>
		  </div>
		  <div class="modal-body">
			<div class="alert alert-danger" role="alert" style="font-size: 1.8rem;"> 当前版本不支持微信营销活动，您可以新建活动来体验微营销功能，但前台会有广告，如要正式使用请升级 </div>
		  </div>
		</div>
	  </div>
	</div>
	
	<div class="sort"><span>微活动</span></div>
	
	<div class="actBox">
			<div class="activeList">
				<div class="actPic">
					<a href="#weixy.lbsstore">
						<img src="/images/lbs/lbs.jpg">
					</a>
				</div>
					
				<div class="actBtn">	
					<span>lbs定位</span>
					<a href="#weixy.lbsstore_list" class="btn btn-success ">管理</a>
					<a href="#weixy.lbsstore_edit" class="btn btn-primary ">创建</a>
				</div>
			</div>	
			
			<div class="activeList">
				<div class="actPic">
					<a href="#weixy.lucklist:{LuckType:1}">
						<img src="/images/PartyImage/dzp.jpg">
					</a>
				</div>
				
				<div class="actBtn">	
					<span>幸运转盘</span>
					<a href="#weixy.lucklist:{LuckType:1}" class="btn btn-success ">管理</a>
					<a href="#weixy.partyedit:{LuckType:1}" class="btn btn-primary ">创建</a>
				</div>
			</div>	
		
		
			<div class="activeList ">
				<div class="actPic">
					<a href="#weixy.lucklist:{LuckType:2}">
						<img src="/images/PartyImage/zjd.jpg">
					</a>
				</div>
				
				<div class="actBtn">	
					<span>砸金蛋</span>
					<a href="#weixy.lucklist:{LuckType:2}" class="btn btn-success ">管理</a>
					<a href="#weixy.partyedit:{LuckType:2}" class="btn btn-primary ">创建</a>
				</div>
			</div>
		
		
		
			<div class="activeList ">
				<div class="actPic">
					<a href="#weixy.lucklist:{LuckType:3}">
						<img src="/images/PartyImage/ggk.jpg">
					</a>
				</div>
				
				<div class="actBtn">	
					<span>刮刮卡</span>
					<a href="#weixy.lucklist:{LuckType:3}" class="btn btn-success ">管理</a>
					<a href="#weixy.partyedit:{LuckType:3}" class="btn btn-primary ">创建</a>
				</div>
			</div>
		
		
		
			<div class="activeList ">
				<div class="actPic">
					<a href="#weixy.lucklist:{LuckType:4}">
						<img src="/images/PartyImage/xykp.jpg">
					</a>
				</div>
				
				<div class="actBtn">	
					<span>幸运卡片</span>
					<a href="#weixy.lucklist:{LuckType:4}" class="btn btn-success ">管理</a>
					<a href="#weixy.partyedit:{LuckType:4}" class="btn btn-primary ">创建</a>
				</div>
			</div>	
			
	</div>
	
	<div class="sort"><span>微互动</span></div>
		
	<div class="actBox">
		
			<div class="activeList ">
				<div class="actPic">
					<a href="#weixy.packmergelist">
						<img src="/images/redpack/fit.jpg">
					</a>
				</div>
				
				<div class="actBtn">	
					<span>合体红包</span>
					<a href="#weixy.packmergelist" class="btn btn-success ">管理</a>
					<a href="#weixy.packmerge" class="btn btn-primary ">创建</a>
				</div>
			</div>	
		
		
			<div class="activeList">
				<div class="actPic">
					<a href="#weixy.redpacklist">
						<img src="/images/redpack/redpacket.jpg">
					</a>
				</div>
				
				<div class="actBtn">	
					<span>微信红包</span>
					<a href="#weixy.redpacklist" class="btn btn-success ">管理</a>
					<a href="#weixy.redpack" class="btn btn-primary ">创建</a>
				</div>
			</div>	
		
		
		
			<div class="activeList">
				<div class="actPic">
					<a href="#weixy.votelist">
						<img src="/images/hudongimg/tp.jpg">
					</a>
				</div>
				
				<div class="actBtn">	
					<span>微投票</span>
					<a href="#weixy.votelist" class="btn btn-success ">管理</a>
					<a href="#weixy.vote" class="btn btn-primary ">创建</a>
				</div>
			</div>
		
	
			<div class="activeList">
				<div class="actPic">
					<a href="#weixy.reservelist">
						<img src="/images/hudongimg/reserve.jpg">
					</a>
				</div>
				
				<div class="actBtn">	
					<span>微预约</span>
					<a href="#weixy.reservelist" class="btn btn-success ">管理</a>
					<a href="#weixy.reserveedit" class="btn btn-primary ">创建</a>
				</div>
			</div>	
		
		
		
			<div class="activeList">
				<div class="actPic">
					<a href="#weixy.researchlist">
						<img src="/images/hudongimg/research.jpg">
					</a>
				</div>
				
				<div class="actBtn">	
					<span>微调研</span>
					<a href="#weixy.researchlist" class="btn btn-success ">管理</a>
					<a href="#weixy.researchedit" class="btn btn-primary ">创建</a>
				</div>
			</div>
		
		
		
			<div class="activeList">
				<div class="actPic">
					<a href="#weixy.gallerylist">
						<img src="/images/hudongimg/gallery.jpg">
					</a>
				</div>
				
				<div class="actBtn">	
					<span>微相册</span>
					<a href="#weixy.gallerylist" class="btn btn-success ">管理</a>
					<a href="#weixy.galleryedit" class="btn btn-primary ">创建</a>
				</div>
			</div>	
			
		
		
			<div class="activeList">
				<div class="actPic">
					<a href="#weixy.signin">
						<img src="/images/SignIn/Cover.jpg">
					</a>
				</div>
				
				<div class="actBtn">	
					<span>微签到</span>
					<a href="#weixy.signinlist" class="btn btn-success ">管理</a>
					<a href="#weixy.signin" class="btn btn-primary ">创建</a>
				</div>
			</div>	
		
		
			<div class="activeList">
				<div class="actPic">
					<a href="#weixy.sharelist">
						<img src="/images/share/default.jpg">
					</a>
				</div>
				
				<div class="actBtn">	
					<span>分享助力</span>
					<a href="#weixy.sharelist" class="btn btn-success ">管理</a>
					<a href="#weixy.share" class="btn btn-primary ">创建</a>
				</div>
			</div>	
		
		
		
			<div class="activeList">
				<div class="actPic">
					<a href="#weixy.discountlist">
						<img src="/images/share/discback.jpg">
					</a>
				</div> 

				<div class="actBtn">
					<span>微砍价</span>
					<a href="#weixy.discountlist" class="btn btn-success ">管理</a>
					<a href="#weixy.discounting" class="btn btn-primary ">创建</a>
				</div>
			</div>
		
		
			<div class="activeList">
				<div class="actPic">
					<a href="#weixy.indianalist">
						<img src="/images/indiana/indiana.jpg">
					</a>
				</div> 

				<div class="actBtn">
					<span>夺宝活动</span>
					<a href="#weixy.indianalist" class="btn btn-success ">管理</a>
					<a href="#weixy.indianing" class="btn btn-primary ">创建</a>
				</div>
			</div>
		
			<div class="activeList">
				<div class="actPic">
					<a href="#weixy.walllist">
						<img src="/images/hudongimg/wall.jpg">
					</a>
				</div>
					
				<div class="actBtn">	
					<span>微信墙</span>
					<a href="#weixy.walllist" class="btn btn-success ">管理</a>
					<a href="#weixy.walledit" class="btn btn-primary ">创建</a>
				</div>
			</div>	
        <!--<div class="activeList">
            <div class="actPic">
                <a href="#weixy.SeckillList">
                    <img src="/images/share/seckill.jpg">
                </a>
            </div>

            <div class="actBtn">
                <span>微秒杀</span>
                <a href="#weixy.SeckillList" class="btn btn-success ">管理</a>
                <a href="#weixy.Seckill" class="btn btn-primary ">创建</a>
            </div>
        </div>-->
	</div>
	

	

	
</div>
</div>
