<style type="text/css">
.weixinTips table{  border: 1px solid #ddd;}
.weixinTips table .t2{background:#ebf4e4}
.weixinTips table .t3{background:#d1e4ea}
.weixinTips table .t4{background:#FFF9C6}
.weixinTips table .t5{background:#FFC6C6}
.ConfigPublic{padding-left: 15%;font-size: 15px;font-family: "Microsoft YaHei";color: red;}
.modal-title,.btn-default{color: red;}
.btn-default{border-color: red;}
</style>

<div class="contentBox">
    <form id="WxConfForm" method="post" name="" ovalidate="novalidate">
        <div class="table-responsive">
			<div class="alert alert-danger">			
					特别提醒：网页授权域名、微信支付接口域名与接口URL域名必须相同，否则会拿不到网页授权或者无法进行支付			
			</div>
			
            <table class="table table-hover">
                <tbody><tr>
                    <td align="right" style="width: 130px;">微信原始ID：</td>
                    <td><input type="text" name="WeiXinId" id="WeiXinId" class="form-control input" data-bind="value: WeiXinId" style="width:50%;" readonly=""> <a name="LinkHelp" href="/admin/plugins/weixinpackage/html/weixinHelp.html#W5" class="btn btn-link">帮助</a> <a href="http://help.yz168.com/NewsDetail/161574.html" target="_blank" class="ConfigPublic">1、公众号如何配置?</a> </td>
                </tr>
                <tr>
                    <td align="right">微信号：</td>
                    <td><input type="text" name="WeiXin" class="form-control input" data-bind="value: WeiXin" style="width:50%;"> <a name="LinkHelp" href="/admin/plugins/weixinpackage/html/weixinHelp.html#W5" class="btn btn-link">帮助</a> <a href="http://help.yz168.com/NewsDetail/151407.html" target="_blank" class="ConfigPublic">2、公众号出错常见问题?</a> </td>
                </tr>
                <tr>
                    <td align="right">公众号类型：</td>
                    <td>
                        <input type="radio" id="wt1" name="WxType" value="1" data-bind="checked:WxType">
                        <label for="wt1">服务号</label>
                        <input type="radio" id="wt2" name="WxType" value="2" data-bind="checked: WxType">
                        <label for="wt2">订阅号</label>
                        <input type="radio" id="wt3" name="WxType" value="3" data-bind="checked: WxType">
                        <label for="wt3">认证服务号</label>
                        <input type="radio" id="wt4" name="WxType" value="4" data-bind="checked: WxType">
                        <label for="wt4">认证订阅号</label>
                        
                        <a name="LinkHelp" href="http://mp.weixin.qq.com/wiki/7/2d301d4b757dedc333b9a9854b457b47.html" class="btn btn-link">帮助</a>
                    </td>
                </tr>
                <tr id="haiTr" style="display:none">
                    <td align="right">&nbsp;</td>
                    <td>
                        <input type="radio" id="hai0" name="HideAuthorizeInfo" value="0" data-bind="checked:HideAuthorizeInfo" checked="checked">
                        <label for="hai0">显示授权信息</label>
                        <input type="radio" id="hai1" name="HideAuthorizeInfo" value="1" data-bind="checked:HideAuthorizeInfo" style="margin-left: 10px;">
                        <label for="hai1">隐藏授权信息</label>

                        <span id="hai1Info" style="display:none;margin-left:10px;color:#a94442">隐藏授权信息后不能获取客户的微信信息如：昵称、头像等</span>
                    </td>
                </tr>
                <tr>
                    <td align="right">微信二维码：</td>
                    <td>
                        <input type="button" id="AddImage" class="btn btn-primary btn-sm" value="添加二维码"><img id="QRImage" src="/comdata/13108/201611/20161115102224eed822.jpg" style="width:180px;position:absolute;left:690px;top:170px;">
                        <input type="hidden" id="QRCode" name="QRCode" data-bind="value: QRCImage" value="/comdata/13108/201611/20161115102224eed822.jpg">
                    </td>
                </tr>
                <tr>
                    <td align="right">AppId：</td>
                    <td><input type="text" name="AppId" class="form-control input" data-bind="value: AppId" style="width:50%;"> <a name="LinkHelp" href="/admin/plugins/weixinpackage/html/weixinHelp.html#W4" title="" class="btn btn-link">帮助</a></td>
                </tr>
                <tr>
                    <td align="right">AppSecret：</td>
                    <td><input type="text" name="AppSecret" class="form-control input" data-bind="value: AppSecret" style="width:50%;"> <a name="LinkHelp" href="/admin/plugins/weixinpackage/html/weixinHelp.html#W4" title="" class="btn btn-link">帮助</a></td>
                </tr>
				<tr>
                    <td align="right">接口域名：</td>
                    <td>
                        <select name="DomainName" id="slDomainName" class="form-control" style="width:200px;display:inline">
						<option value="">--请选择--</option><option value="mengxiangjie360.com">mengxiangjie360.com</option><option value="www.mengxiangjie360.com">www.mengxiangjie360.com</option><option value="rrhchina.com">rrhchina.com</option><option value="www.rrhchina.com">www.rrhchina.com</option><option value="u72793.yz168.cc">u72793.yz168.cc</option><option value="前高鞋酒店定制馆">前高鞋酒店定制馆</option></select> 请将您选定的域名填写到微信公众平台的网页授权那里，否则网页授权会无效 <a href="#" id="linkWebAuth" class="btn btn-link">帮助</a>
						<div id="modalWebAuth" class="modal fade in" role="dialog">
							<div class="modal-dialog" style="width:870px;">
							  <div class="modal-content">
								<div class="modal-header">
									<a class="close" data-dismiss="modal">×</a>
										<h4>如何设置网页授权</h4>
									</div>
									<div class="modal-body">
										<img src="plugins/weixinpackage/html/skinsrc/images/webauthhelp.jpg">
									</div>
								</div>
							  </div>
							</div>
                    </td>
                </tr>
                <tr>
                    <td align="right">网页授权域名：</td>
                    <td>
                        <select name="AuthDomainName" id="slAuthDomainName" class="form-control" style="width:200px;display:inline"><option value="">--请选择--</option><option value="mengxiangjie360.com">mengxiangjie360.com</option><option value="www.mengxiangjie360.com">www.mengxiangjie360.com</option><option value="rrhchina.com">rrhchina.com</option><option value="www.rrhchina.com">www.rrhchina.com</option><option value="u72793.yz168.cc">u72793.yz168.cc</option><option value="前高鞋酒店定制馆">前高鞋酒店定制馆</option></select>
                        如您的域名未备案选择我司赠送域名，域名已备案无需选择！
                    </td>
                </tr>
				<tr>
                    <td align="right">授权验证文件：</td>
                    <td>
						<input type="text" id="txAuthVerifyFileName" class="form-control input" style="margin-right: 5px;width: 200px;" value="" data-bind="value:AuthVerify" readonly="">
						<span style="position:relative;">
							<input type="button" id="btnUploadAuthVerify" class="btn btn-primary btn-md" style="width:60px;" value="上传">
							<input type="file" name="AuthVerify" id="AuthVerify" class="btn btn-primary btn-md" style="position: absolute;top: 0;left: 0;z-index: 10;width:60px;display:inline-block;opacity:0;">
						</span>
                        <span id="AuthVerifyTips"><font color="red">您之前已经上传了验证文件 MP_verify_O5KvWv2CyTEexs2a.txt，如需更新验证文件请再次上传，否则请忽略</font></span>
                    </td>
                </tr>
                <tr style="display:none;">
                    <td align="right">粉丝转用户</td>
                    <td>
                        <input type="hidden" id="ConvertUser" name="ConvertUser" data-bind="value:ConvertUser" value="0">
                        <input type="checkbox" id="UserCheck" name="UserCheck" data-bind="checked:ConvertUser==1" autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td align="right"></td>
                    <td>
                        <input type="submit" value="保存" class="btn btn-success">
                        <input type="button" id="resetAll" value="重置公众号" class="btn btn-danger" style="margin-left:30px;">
                    </td>
                </tr>
                <tr>
                    <td align="right">接口URL：</td>
                    <td><strong id="ApiUrl">http://www.rrhchina.com/wxapi?InitSiteID=13108&amp;wxid=gh_835d62389109</strong> <a name="LinkHelp" href="/admin/plugins/weixinpackage/html/weixinHelp.html#W3" title="" class="btn btn-link">帮助</a> <span style="margin-left:100px;color:#666666">请把此值复制到微信公众平台的Url</span></td>
                </tr>
                <tr>
                    <td align="right">Token：</td>
                    <td>
                        <strong id="ApiToken" data-bind="text: Token">582a74f7cfaef</strong>
                        <input type="hidden" id="Token" name="Token" data-bind="value: Token" value="582a74f7cfaef"> <a name="LinkHelp" href="/admin/plugins/weixinpackage/html/weixinHelp.html#W3" title="" class="btn btn-link">帮助</a> <span style="margin-left:100px;color:#666666">请把此值复制到微信公众平台的Token</span>
                    </td>
                </tr>
            </tbody></table>

            <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove" style="color:red;font-size: 1.8rem;"></span></button>
                            <h4 class="modal-title">&nbsp;</h4>
                        </div>
                        <div class="modal-body">
                            <span style="padding-left:30px;color:red;font-size:1.2em;" id="ModalContent"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="weixinTips">			
			<table class="table" border="1">
				<tbody><tr>
					<th style="width:15%">公众号基础功能</th>
					<th class="t2" style="width:20%">订阅号</th>
					<th class="t3" style="width:20%">认证订阅号</th>
					<th class="t4" style="width:20%">服务号</th>
					<th class="t5" style="width:20%">认证服务号</th>
				</tr>
				<tr>
					<td>自定义菜单</td>
					<td class="t2">无</td>
					<td class="t3">有</td>
					<td class="t4">有</td>
					<td class="t5">有</td>
				</tr>
				<tr>
					<td>自动回复</td>
					<td class="t2">有</td>
					<td class="t3">有</td>
					<td class="t4">有</td>
					<td class="t5">有</td>
				</tr>
				<tr>
					<td>群发管理</td>
					<td class="t2">无</td>
					<td class="t3">有</td>
					<td class="t4">无</td>
					<td class="t5">有</td>
				</tr>
				<tr>
					<td>素材管理</td>
					<td class="t2">有</td>
					<td class="t3">有</td>
					<td class="t4">有</td>
					<td class="t5">有</td>
				</tr>
				<tr>
					<td>用户管理</td>
					<td class="t2">无</td>
					<td class="t3">有</td>
					<td class="t4">无</td>
					<td class="t5">有</td>
				</tr>
				<tr>
				<td colspan="5"></td>
				</tr>
				<tr>
				<td>微信授权及接口</td>
				<td colspan="4"></td>
				</tr>
				<tr>
					<td>网页授权</td>
					<td class="t2">无</td>
					<td class="t3">无</td>
					<td class="t4">无</td>
					<td class="t5">有</td>
				</tr>
				<tr>
					<td>生成分销二维码</td>
					<td class="t2">无</td>
					<td class="t3">无</td>
					<td class="t4">无</td>
					<td class="t5">有</td>
				</tr>
				<tr>
					<td>微信支付接口</td>
					<td class="t2">无</td>
					<td class="t3">无</td>
					<td class="t4">无</td>
					<td class="t5">需到微信申请</td>
				</tr>
				<tr>
					<td>微信小店</td>
					<td class="t2">无</td>
					<td class="t3">无</td>
					<td class="t4">无</td>
					<td class="t5">需到微信申请</td>
				</tr>
				<tr>
					<td>微信硬件接口</td>
					<td class="t2">无</td>
					<td class="t3">无</td>
					<td class="t4">无</td>
					<td class="t5">需到微信申请</td>
				</tr>
			</tbody></table>
			<p><a href="http://mp.weixin.qq.com/wiki/8/71e1908fa08e67c6251ebdd78fd6b6b4.html" target="_blank">更多详细请点击查看</a></p>
			<p class="alert alert-warning">
			注意：<br>
			1、以上为公众号平台对外开放的接口限制，属我司不可控范围，请按自己的需求申请公众号！<br>
			2、认证的订阅号可升级为认证服务号<br>
			3、如果您是测试帐号，建议您使用认证的服务号测试！<br>
			</p>
		</div>
    </form>
</div>
