<link href="plugins/weixinpackage/html/skinsrc/wxcss.css" rel="stylesheet" type="text/css">
<style type="text/css">
.Box{display:block;overflow:hidden;}
.BoxLeft{width:20%;overflow:hidden;float:left;}
.BoxLeft a{display:block;clear:both;padding:5px 10px;font-size:14px;}
.BoxRight{width:80%;float:left;border:solid 1px #d6d6d6;}

.BoxRightTitle{width:100%;height:40px;line-height:40px;background:#e1e1e1;color:#333;font-size:14px;}
.BoxRightTitle span{padding:0 20px;font-size16px;font-weight:normal;}
.BoxRightTitle b,.BoxRightTitle i{display:block;float:left;}
.BoxRightTitle b{font-size:14px;}
.BoxRightTitle i{float:right;font-style:normal;cursor:pointer;}
.UserList,#pagination{display:block;list-style-type:none;float:left;clear:both;overflow:auto}

.u_table{width:100%;float:left;display:inline-block;border-bottom:solid 1px #ddd;padding:0 5px;margin-bottom:0;}
.u_table dt{margin:10px;display:inline-block;float:left;width:80px;height:80px;text-align:center;font-size:4em;color:#ddd;}
.u_table dt img{width:80px;margin:0;}
.u_table dd{float:left;display:block;height:40px;line-height:40px;width:280px;border-bottom:solid 1px #eee;}
.u_table dd.u_option{position:absolute;width:100px;right:0;border:solid 1px red;}
.u_table dd.u_name{width:560px;}	
.u_name strong,.u_name span,.u_name a{display:inline-block;overflow:hidden;float:left;}
.u_name a{width:20px;height:25px;margin-left:20px;background:url(plugins/weixinpackage/html/skinsrc/images/base_z.png) left -3893px no-repeat;cursor:pointer;}

.u_group{display:inline-block;width:130px;border:solid 1px #ddd;background-color:#fff;padding:0;margin:0;float:left;}
.u_group li{height:25px;width:100%;position:relative;line-height:25px;padding:0 5px;background:url(plugins/weixinpackage/html/skinsrc/images/base_z.png) 100px -2690px no-repeat;cursor:pointer;float:left;display:block;clear:both;}
.u_group li span{display:inline-block;position:static;z-index:10;}
.u_group li ul{display:inline-block;position:absolute;height:100px;width:130px;overflow-y:scroll;background:#fff;border:solid 1px #ddd;left:0;top:25px;z-index:900;-moz-box-shadow:5px 5px 5px rgba(0,0,0,.6);-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,.6);-ms-box-shadow: 5px 5px 5px rgba(0,0,0,.6);box-shadow: 5px 5px 5px rgba(0,0,0,.6);}
	
.u_group li ul li{background-color:#fff;cursor:pointer;height:25px;line-height:25px;display:block;overflow:hidden;width:100px;padding:0 5px;background:#fff;}
.u_group li ul li:hover{background-color:#ddd;}
	
.GTitle{width:100%;height:40px;line-height:40px;font-size:14px;background-color:#e1e1e1;text-align:center;cursor:pointer;}
.GroupList{list-style-type:none;padding:0;display:block;overflow:hidden;border: 1px solid #e6e6e6;}
.GroupList dd{display:block;height:40px;line-height:40px;font-size:15px;clear:both;color:#222;position:relative;border-bottom:solid 1px #ddd;}
.GroupList dd:last-child{border:0;}
.GroupList dd a{display:inline-block;padding-left:30px;position:absolute;left:0;}
.GroupList dd i,.GroupList dd del{width:20px;height:20px;display:inline-block;position:absolute;top:5px;right:30px;background:url(plugins/weixinpackage/html/skinsrc/images/base_z.png) left -2765px no-repeat;cursor:pointer;z-index:1;}
.GroupList dd del{background-position:left -3588px;right:5px;}
.GroupList dd span label{padding:0 5px;cursor:pointer;}
.GroupList dd span strong{font-weight:normal;color:red;padding:0 3px;}
	
.m_input{position:relative;}
.m_input strong{display:inline-block;width:70px;height:28px;line-height:28px;float:left;color:#444444;font-family:'Microsoft YaHei';}
.m_input input{width:125px;height:28px;border:solid 1px #ddd;padding:0 5px;float:left;line-height:28px\9;vertical-align:middle;}
.m_input label{display:block;height:25px;width:25px;position:absolute;left:185px;background:url(plugins/weixinpackage/html/skinsrc/images/base_z.png) 0 -3106px no-repeat;padding:0;vertical-align:middle;overflow:hidden;cursor:pointer;}

#WebPager a{padding:5px 8px;border:solid 1px #ddd;}
#WebPager font{padding:5px 8px;}
#WebPager a font{padding:0;}

.Box .BoxRight .pagination{margin-left:30px;width:auto;}
ul.pagination li a.PageBack{background-color:#ff6a00;color:#fff;font-weight:bold;cursor:default;}
.selectedGroup{background: #eef2b7}

.dropdown-menu a{cursor:pointer;}

.wxOwnerPanel { position: absolute; right: 30px; top: 30px; }
.wxOwnerPanel .wxOwnerFlag { color: rgb(218, 50, 50); border: 1px solid rgb(218, 50, 50); padding: 3px 4px; }
.disabled{ color:red;}
</style>

<div class="contentBox">
	<div class="Box">
		<div class="alert alert-warning">		
				注意：只有认证订阅号和认证的服务号才能使用“同步用户”
		</div>
        <div style="width:100%;clear:both;padding-bottom:10px;" class="row">
            <div class="col-lg-3" style="float: left;">
                <a href="#" class="btn btn-primary" id="Create" data-bind="click:Create">新建分组</a>
                <a href="#" class="btn btn-info" id="SynUser" data-bind="click:function(){SynUsers()}" title="与微信服务器同步用户">同步用户</a>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="sexText">全部</span><span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a class="sex" data-val="0">全部</a></li>
                            <li><a class="sex" data-val="1">男</a></li>
                            <li><a class="sex" data-val="2">女</a></li>
                        </ul>
                    </div>
                    <input type="hidden" id="sex" value="0">
                    <input type="text" class="form-control" id="nikeName" placeholder="用户搜索...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-bind="click: Search"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
      
        <div class="BoxLeft">
            <div class="GTitle" data-bind="click:SelectGroup">
                全部用户(<span data-bind="text: GetUserCount()">0</span>)</div>
            <dl class="GroupList" data-bind="foreach: GroupList"></dl>
        </div>
        <div class="BoxRight">
			<div class="BoxRightTitle"><span>用户信息</span></div>
            <ul class="UserList" data-bind="foreach:UserList">
                <li class="clearfix" style="position: relative;">
                    <dl class="u_table">
                        <dt>
                            <img data-bind="visible:HeadImgUrl+''!='', attr:{ src: HeadImgUrl }" src="http://wx.qlogo.cn/mmopen/Nf0FJibAtNvE1ALfKib2Xl5BvIePReBpMxiaIJA1csAmppy7B6c1ABWtj85hWwxfpttlUkMzYiaribK4XsrkXvLjgzcytKhXiaESEu/0">
                            <i data-bind=" visible: HeadImgUrl+''==''" class="fa fa-comments" style="display: none;"></i>
                        </dt>
                        <dd class="u_name">
                            <strong>昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</strong>
                            <span data-bind="text: Nickname">趁早～</span>
                        </dd>
                        <dd><label>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</label><span data-bind="text:Sex == 1 ? '男' : Sex == 2 ? '女' : '未知'">男</span></dd>
                        <dd><label>分&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;组：</label>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="GroupText" data-bind="text: GroupName, attr: { id: 'Text' + OpenId }" id="Texto3h_NjhMp6eTBLMwjQakNHRMI7Pk"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" data-bind="foreach: $parent.GroupList"></ul>
                            </div>
                        </dd>
                        <dd><label>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</label><span data-bind="text: Country + '.' + Province + '.' + City">爱尔兰.米斯.</span></dd>
                        <dd><label>关注时间：</label><span data-bind="text: Recommend">2016-12-12 22:49:58</span></dd>
                    </dl>
                    <div class="wxOwnerPanel">
                        <input type="button" class="btnSetWxOwner btn btn-primary" style="display: none;" enable="1" data-bind="attr:{'data-openId': OpenId}" value="标记为平台管理员" data-openid="o3h_NjhMp6eTBLMwjQakNHRMI7Pk">
                        <!--<input type="button" class="btnCancelWxOwner btn btn-danger" style="display:none;" enable="0" data-bind="attr:{'data-openId': OpenId}" value="取消公众号管理员" />-->
                        <i class="btnCancelWxOwner fa fa-times-circle-o" style="position: absolute; display: none; background: red; color: rgb(255, 255, 255); right: -5px; top: -5px; font-size: 16px; border-radius: 10px; cursor: pointer;" enable="0" data-bind="attr:{'data-openId': OpenId}, style:{display:$parent.Contains($parent.WxOwnerOpenID, OpenId) ? 'inline-block': 'none'}" title="取消公众号管理员" data-openid="o3h_NjhMp6eTBLMwjQakNHRMI7Pk"></i>
                        <div class="wxOwnerFlag" data-bind="style:{display:$parent.WxOwnerOpenID == OpenId ? 'inline-block': 'none'},attr:{'data-openId':OpenId }" data-openid="o3h_NjhMp6eTBLMwjQakNHRMI7Pk" style="display: none;">公众号管理员</div>
                    </div>
                </li>
            
                <li class="clearfix" style="position: relative;">
                    <dl class="u_table">
                        <dt>
                            <img data-bind="visible:HeadImgUrl+''!='', attr:{ src: HeadImgUrl }" src="http://wx.qlogo.cn/mmopen/VjzpeXeE0gxkD3qRpZXqpOj67ia51VPjpWpn6RaLtRViaTnkn4MekRbuzNRIpicJLSZ27vCv3dtNibAiacz3qs5vdttViaUsiauUkNR/0">
                            <i data-bind=" visible: HeadImgUrl+''==''" class="fa fa-comments" style="display: none;"></i>
                        </dt>
                        <dd class="u_name">
                            <strong>昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</strong>
                            <span data-bind="text: Nickname">永不言败</span>
                        </dd>
                        <dd><label>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</label><span data-bind="text:Sex == 1 ? '男' : Sex == 2 ? '女' : '未知'">男</span></dd>
                        <dd><label>分&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;组：</label>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="GroupText" data-bind="text: GroupName, attr: { id: 'Text' + OpenId }" id="Texto3h_NjpEnnRzyUd3ALXCjJpWRxGg"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" data-bind="foreach: $parent.GroupList"></ul>
                            </div>
                        </dd>
                        <dd><label>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</label><span data-bind="text: Country + '.' + Province + '.' + City">..</span></dd>
                        <dd><label>关注时间：</label><span data-bind="text: Recommend">2016-12-12 21:14:53</span></dd>
                    </dl>
                    <div class="wxOwnerPanel">
                        <input type="button" class="btnSetWxOwner btn btn-primary" style="display:none;" enable="1" data-bind="attr:{'data-openId': OpenId}" value="标记为平台管理员" data-openid="o3h_NjpEnnRzyUd3ALXCjJpWRxGg">
                        <!--<input type="button" class="btnCancelWxOwner btn btn-danger" style="display:none;" enable="0" data-bind="attr:{'data-openId': OpenId}" value="取消公众号管理员" />-->
                        <i class="btnCancelWxOwner fa fa-times-circle-o" style="position: absolute; display: none; background: red; color: rgb(255, 255, 255); right: -5px; top: -5px; font-size: 16px; border-radius: 10px; cursor: pointer;" enable="0" data-bind="attr:{'data-openId': OpenId}, style:{display:$parent.Contains($parent.WxOwnerOpenID, OpenId) ? 'inline-block': 'none'}" title="取消公众号管理员" data-openid="o3h_NjpEnnRzyUd3ALXCjJpWRxGg"></i>
                        <div class="wxOwnerFlag" data-bind="style:{display:$parent.WxOwnerOpenID == OpenId ? 'inline-block': 'none'},attr:{'data-openId':OpenId }" data-openid="o3h_NjpEnnRzyUd3ALXCjJpWRxGg" style="display: none;">公众号管理员</div>
                    </div>
                </li>
            
                <li class="clearfix" style="position: relative;">
                    <dl class="u_table">
                        <dt>
                            <img data-bind="visible:HeadImgUrl+''!='', attr:{ src: HeadImgUrl }" src="http://wx.qlogo.cn/mmopen/Nf0FJibAtNvHhUPQoI0GZEF9Af0qIkHTASeuZtKZ75kQT5oBxCsU1RbxhKmMwx2qVicb5dHl0a7ETpRUwKgdvq8fSK7f6vfmOg/0">
                            <i data-bind=" visible: HeadImgUrl+''==''" class="fa fa-comments" style="display: none;"></i>
                        </dt>
                        <dd class="u_name">
                            <strong>昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</strong>
                            <span data-bind="text: Nickname">聂shung</span>
                        </dd>
                        <dd><label>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</label><span data-bind="text:Sex == 1 ? '男' : Sex == 2 ? '女' : '未知'">男</span></dd>
                        <dd><label>分&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;组：</label>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="GroupText" data-bind="text: GroupName, attr: { id: 'Text' + OpenId }" id="Texto3h_NjqQHr-JKR3QhthDACpXsZF4"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" data-bind="foreach: $parent.GroupList"></ul>
                            </div>
                        </dd>
                        <dd><label>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</label><span data-bind="text: Country + '.' + Province + '.' + City">安道尔..</span></dd>
                        <dd><label>关注时间：</label><span data-bind="text: Recommend">2016-12-12 01:29:59</span></dd>
                    </dl>
                    <div class="wxOwnerPanel">
                        <input type="button" class="btnSetWxOwner btn btn-primary" style="display:none;" enable="1" data-bind="attr:{'data-openId': OpenId}" value="标记为平台管理员" data-openid="o3h_NjqQHr-JKR3QhthDACpXsZF4">
                        <!--<input type="button" class="btnCancelWxOwner btn btn-danger" style="display:none;" enable="0" data-bind="attr:{'data-openId': OpenId}" value="取消公众号管理员" />-->
                        <i class="btnCancelWxOwner fa fa-times-circle-o" style="position: absolute; display: none; background: red; color: rgb(255, 255, 255); right: -5px; top: -5px; font-size: 16px; border-radius: 10px; cursor: pointer;" enable="0" data-bind="attr:{'data-openId': OpenId}, style:{display:$parent.Contains($parent.WxOwnerOpenID, OpenId) ? 'inline-block': 'none'}" title="取消公众号管理员" data-openid="o3h_NjqQHr-JKR3QhthDACpXsZF4"></i>
                        <div class="wxOwnerFlag" data-bind="style:{display:$parent.WxOwnerOpenID == OpenId ? 'inline-block': 'none'},attr:{'data-openId':OpenId }" data-openid="o3h_NjqQHr-JKR3QhthDACpXsZF4" style="display: none;">公众号管理员</div>
                    </div>
                </li>
            
                <li class="clearfix" style="position: relative;">
                    <dl class="u_table">
                        <dt>
                            <img data-bind="visible:HeadImgUrl+''!='', attr:{ src: HeadImgUrl }" src="http://wx.qlogo.cn/mmopen/Nf0FJibAtNvE1ALfKib2Xl5LnibElteP1W9JFIs9RH0xP4iaKu6OtkMdO446ScsNGCmKTNicU4P57O3pwtfh5QA6ODiazb1Hw4rRAE/0">
                            <i data-bind=" visible: HeadImgUrl+''==''" class="fa fa-comments" style="display: none;"></i>
                        </dt>
                        <dd class="u_name">
                            <strong>昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</strong>
                            <span data-bind="text: Nickname">traos</span>
                        </dd>
                        <dd><label>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</label><span data-bind="text:Sex == 1 ? '男' : Sex == 2 ? '女' : '未知'">男</span></dd>
                        <dd><label>分&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;组：</label>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="GroupText" data-bind="text: GroupName, attr: { id: 'Text' + OpenId }" id="Texto3h_NjtRNA7k55MDwk9TIUEdKWMM"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" data-bind="foreach: $parent.GroupList"></ul>
                            </div>
                        </dd>
                        <dd><label>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</label><span data-bind="text: Country + '.' + Province + '.' + City">中国.安徽.合肥</span></dd>
                        <dd><label>关注时间：</label><span data-bind="text: Recommend">2016-12-05 18:45:44</span></dd>
                    </dl>
                    <div class="wxOwnerPanel">
                        <input type="button" class="btnSetWxOwner btn btn-primary" style="display:none;" enable="1" data-bind="attr:{'data-openId': OpenId}" value="标记为平台管理员" data-openid="o3h_NjtRNA7k55MDwk9TIUEdKWMM">
                        <!--<input type="button" class="btnCancelWxOwner btn btn-danger" style="display:none;" enable="0" data-bind="attr:{'data-openId': OpenId}" value="取消公众号管理员" />-->
                        <i class="btnCancelWxOwner fa fa-times-circle-o" style="position: absolute; display: none; background: red; color: rgb(255, 255, 255); right: -5px; top: -5px; font-size: 16px; border-radius: 10px; cursor: pointer;" enable="0" data-bind="attr:{'data-openId': OpenId}, style:{display:$parent.Contains($parent.WxOwnerOpenID, OpenId) ? 'inline-block': 'none'}" title="取消公众号管理员" data-openid="o3h_NjtRNA7k55MDwk9TIUEdKWMM"></i>
                        <div class="wxOwnerFlag" data-bind="style:{display:$parent.WxOwnerOpenID == OpenId ? 'inline-block': 'none'},attr:{'data-openId':OpenId }" data-openid="o3h_NjtRNA7k55MDwk9TIUEdKWMM" style="display: none;">公众号管理员</div>
                    </div>
                </li>
            
                <li class="clearfix" style="position: relative;">
                    <dl class="u_table">
                        <dt>
                            <img data-bind="visible:HeadImgUrl+''!='', attr:{ src: HeadImgUrl }" src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIRl9y24ZU3d2zasKsyNicNPOPJjk2gUH8VInibdL1FtPEmrtL4G8R9Yqk3AbXYY4bDsNmIiazgT6WBg/0">
                            <i data-bind=" visible: HeadImgUrl+''==''" class="fa fa-comments" style="display: none;"></i>
                        </dt>
                        <dd class="u_name">
                            <strong>昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</strong>
                            <span data-bind="text: Nickname">Puppet。</span>
                        </dd>
                        <dd><label>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</label><span data-bind="text:Sex == 1 ? '男' : Sex == 2 ? '女' : '未知'">女</span></dd>
                        <dd><label>分&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;组：</label>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="GroupText" data-bind="text: GroupName, attr: { id: 'Text' + OpenId }" id="Texto3h_NjnXPP0lfOgPQdyJlpt6PA_g"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" data-bind="foreach: $parent.GroupList"></ul>
                            </div>
                        </dd>
                        <dd><label>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</label><span data-bind="text: Country + '.' + Province + '.' + City">中国.安徽.蚌埠</span></dd>
                        <dd><label>关注时间：</label><span data-bind="text: Recommend">2016-12-05 11:15:23</span></dd>
                    </dl>
                    <div class="wxOwnerPanel">
                        <input type="button" class="btnSetWxOwner btn btn-primary" style="display:none;" enable="1" data-bind="attr:{'data-openId': OpenId}" value="标记为平台管理员" data-openid="o3h_NjnXPP0lfOgPQdyJlpt6PA_g">
                        <!--<input type="button" class="btnCancelWxOwner btn btn-danger" style="display:none;" enable="0" data-bind="attr:{'data-openId': OpenId}" value="取消公众号管理员" />-->
                        <i class="btnCancelWxOwner fa fa-times-circle-o" style="position: absolute; display: none; background: red; color: rgb(255, 255, 255); right: -5px; top: -5px; font-size: 16px; border-radius: 10px; cursor: pointer;" enable="0" data-bind="attr:{'data-openId': OpenId}, style:{display:$parent.Contains($parent.WxOwnerOpenID, OpenId) ? 'inline-block': 'none'}" title="取消公众号管理员" data-openid="o3h_NjnXPP0lfOgPQdyJlpt6PA_g"></i>
                        <div class="wxOwnerFlag" data-bind="style:{display:$parent.WxOwnerOpenID == OpenId ? 'inline-block': 'none'},attr:{'data-openId':OpenId }" data-openid="o3h_NjnXPP0lfOgPQdyJlpt6PA_g" style="display: none;">公众号管理员</div>
                    </div>
                </li>
            </ul>
			<div id="pagination" style="padding-bottom:10px;padding-left:40px"><nav style="height:40px"><ul class="pagination " style="margin:10px 0"><li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li><li class="active"><a href="#" aria-label="1">1</a></li><li><a href="#" aria-label="2">2</a></li><li><a href="#" aria-label="3">3</a></li><li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li></ul></nav></div>
        </div>

        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <span style="padding-left:40px;color:red;font-size:1.2em;" id="ModalContent"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>