		<ul class="nav nav-tabs contentNavTab "><li role="presentation" class="" onselectstart="false"><a a="config" b="listadmin" style="cursor:pointer;">管理员列表</a></li><li role="presentation" class="" onselectstart="false"><a a="config" b="editadmin" style="cursor:pointer;">新增/修改管理员</a></li><li role="presentation" class="active" onselectstart="false"><a a="config" b="editadminpass" style="cursor:pointer;">修改密码</a></li></ul><div id="maincontent" class="mainTabContent tab-content row" style="display: block; margin-bottom: 40px;"><div id="divForm" class="contentBox">
	<form method="post" id="PassForm" novalidate="novalidate">
	 <table class="table table-hover">
		<tbody><tr>
			<td align="right" width="120">
				<span class="clear">用 &nbsp;户 &nbsp;名：&nbsp;</span></td>
			<td width="*">
			<span id="spUserName" style="font-weight:bold">admin7</span></td>
		</tr>
		<tr>
			<td align="right">
				<span class="clear">原 &nbsp;密 &nbsp;码：&nbsp;</span></td>
			<td>
				<input type="password" id="tbOldPass" name="tbOldPass" class="form-control input"></td>
		</tr>
		<tr>
			<td align="right">
				<span class="clear">新 &nbsp;密 &nbsp;码：&nbsp;</span></td>
			<td>
				<input type="password" id="tbNewPass" name="tbNewPass" class="form-control input"></td>
		</tr>
		<tr>
			<td align="right">
				<span class="clear">重复密码：</span><span class="white">&nbsp;</span></td>
			<td>
				<input type="password" id="tbNewPassC" name="tbNewPassC" class="form-control input"></td>
		</tr>
		<tr>
			<td align="right"></td>
			<td><input type="submit" class="btn btn-success" value="保 存"></td>
		</tr>
	</tbody></table>
	</form>
</div>
</div>
