		
		<div id="maincontent" class="mainTabContent tab-content row" style="display: block;"><div class="contentBox">
	<div class="tableTitle">
		<div class="title">导出网站</div>
	</div>
	<div id="divForm">
		<div class="alert alert-warning">
			<strong>注意：</strong>
			<p>1. 将网站数据导出，上传到专用的网站空间</p>
			<p>2. 网站空间要求： 操作系统：windows 2008/2012 ，WEB服务器：IIS/Apache</p>
			<p>3. 要求安装云指专用的 PHP 环境，否则不能访问，请<a href="/download/php-5.5.16.zip" target="_blank">下载专用PHP环境</a>，需安装VC11运行库，<a href="/download/vcredist_x86.exe" target="_blank">点此下载</a></p>
			<p>4. 数据库要求： MySQL 5.0 以上数据库</p>
			<p>5. <a href="/download/web服务器配置文档.doc" target="_blank">请点击这里下载WEB服务器配置说明文档</a></p>
			<p style="color:red;">6. 由于目前PHP转码刚刚完成，可能还会有一些BUG，建议导出的版本先用于测试</p>
			<p style="color:red;">7.网站导出后需要续费，按平台正常续费价格进行续费！</p>
		</div>
		<div style="text-align: center;"><input type="button" id="btnExport" class="btn btn-success " value="立即导出"></div>
		<div id="divExportInfo" class="alert alert-success" style="display:none"></div>
	</div>
</div></div>
		
