		<ul class="nav nav-tabs contentNavTab "><li role="presentation" class="active" onselectstart="false"><a a="config" b="listadmin" style="cursor:pointer;">管理员列表</a></li><li role="presentation" class="" onselectstart="false"><a a="config" b="editadmin" style="cursor:pointer;">新增/修改管理员</a></li><li role="presentation" class="" onselectstart="false"><a a="config" b="editadminpass" style="cursor:pointer;">修改密码</a></li></ul><div id="maincontent" class="mainTabContent tab-content row" style="display: block; margin-bottom: 40px;"><div class="contentBox">
	<div class="form-inline">
		<div class="form-group">
			<input type="text" id="keyword" class="form-control input" placeholder="关键词">
		</div>　
		<select id="status" class="form-control input">
			<option value="">状态不限</option>
			<option value="1">已生效</option>
			<option value="0">未生效</option>
		</select>
		<button type="button" id="BtnSearch" class="btn btn-success">搜索</button>
	    <button type="button" id="BtnAddAdmin" class="btn btn-primary">新增管理员</button>
	</div>

	<div class="table-responsive">
	  <table class="table table-hover table-bordered table-striped">
		<thead>
			<tr>
				<th class="black">用户名</th>
				<th class="black">姓名</th>
				<th class="black">状态</th>
				<th class="black">修改</th>
				<th class="black">删除</th>
			</tr>
		</thead>
		
		<tbody data-bind="foreach: adminlist">
			<tr>
				<td data-bind="text: UserName">admin</td>
				<td data-bind="text: RealName">系统管理员</td>
				<td>
					<span style="width:100px" data-bind="if: Status==0"></span>
					<span style="width:100px" data-bind="if: Status==1"><font color="green">生效</font></span>
				</td>
				<td><span class="icon-edit icon-large" aria-hidden="true" style="color:#666600;cursor:pointer;" name="BtnEdit" data-bind="attr: {AID: AdminID}" aid="14743"></span></td>
				<td><span class="icon-remove icon-large" aria-hidden="true" style="color:#ca0000;cursor:pointer;" name="BtnDel" data-bind="attr: {AID: AdminID}" aid="14743"></span></td>
			</tr>
		
			<tr>
				<td data-bind="text: UserName">admin2</td>
				<td data-bind="text: RealName">admin2</td>
				<td>
					<span style="width:100px" data-bind="if: Status==0"></span>
					<span style="width:100px" data-bind="if: Status==1"><font color="green">生效</font></span>
				</td>
				<td><span class="icon-edit icon-large" aria-hidden="true" style="color:#666600;cursor:pointer;" name="BtnEdit" data-bind="attr: {AID: AdminID}" aid="23951"></span></td>
				<td><span class="icon-remove icon-large" aria-hidden="true" style="color:#ca0000;cursor:pointer;" name="BtnDel" data-bind="attr: {AID: AdminID}" aid="23951"></span></td>
			</tr>
		
			<tr>
				<td data-bind="text: UserName">admin3</td>
				<td data-bind="text: RealName">admin3</td>
				<td>
					<span style="width:100px" data-bind="if: Status==0"></span>
					<span style="width:100px" data-bind="if: Status==1"><font color="green">生效</font></span>
				</td>
				<td><span class="icon-edit icon-large" aria-hidden="true" style="color:#666600;cursor:pointer;" name="BtnEdit" data-bind="attr: {AID: AdminID}" aid="24352"></span></td>
				<td><span class="icon-remove icon-large" aria-hidden="true" style="color:#ca0000;cursor:pointer;" name="BtnDel" data-bind="attr: {AID: AdminID}" aid="24352"></span></td>
			</tr>
		
			<tr>
				<td data-bind="text: UserName">admin6</td>
				<td data-bind="text: RealName">admin6</td>
				<td>
					<span style="width:100px" data-bind="if: Status==0"></span>
					<span style="width:100px" data-bind="if: Status==1"><font color="green">生效</font></span>
				</td>
				<td><span class="icon-edit icon-large" aria-hidden="true" style="color:#666600;cursor:pointer;" name="BtnEdit" data-bind="attr: {AID: AdminID}" aid="24706"></span></td>
				<td><span class="icon-remove icon-large" aria-hidden="true" style="color:#ca0000;cursor:pointer;" name="BtnDel" data-bind="attr: {AID: AdminID}" aid="24706"></span></td>
			</tr>
		
			<tr>
				<td data-bind="text: UserName">admin7</td>
				<td data-bind="text: RealName">admin7</td>
				<td>
					<span style="width:100px" data-bind="if: Status==0"></span>
					<span style="width:100px" data-bind="if: Status==1"><font color="green">生效</font></span>
				</td>
				<td><span class="icon-edit icon-large" aria-hidden="true" style="color:#666600;cursor:pointer;" name="BtnEdit" data-bind="attr: {AID: AdminID}" aid="26109"></span></td>
				<td><span class="icon-remove icon-large" aria-hidden="true" style="color:#ca0000;cursor:pointer;" name="BtnDel" data-bind="attr: {AID: AdminID}" aid="26109"></span></td>
			</tr>
		</tbody>
	  </table>
	</div>

	<div id="pagination"><nav style="height:40px"><ul class="pagination " style="margin:10px 0"><li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li><li class="active"><a href="#" aria-label="1">1</a></li><li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li></ul></nav></div>
</div></div>
		
